body {

}

ul {
   list-style-type:none;
   padding:0px;
   margin:0px;
}

li {
    width:500px;
    margin:10px;
    list-style:none;
     padding-left:14px;
}

.card {
    background-color:white;
    padding:10px;
    border:1px solid grey;
    float:left;
    width:60%;
}

.result {
    margin:5px;
    margin-left:0px;
    height:30px;
    line-height:30px;
    float:left;
    display:inline-block;
}

.result .bar {
    height:100%;
    width:10px;
    background-color:green;
    float:left;
    margin-right:5px;
}

.clear {
    clear:both;
}
